boto3
botocore
certifi==2020.4.5.1
chardet==3.0.4
click
docutils
Flask
Flask-Session
gunicorn
idna
itsdangerous
Jinja2
jmespath
joblib
MarkupSafe
metaflow
mkl-fft
mkl-random
mkl-service
numpy
pandas
pymongo
python-dateutil
pytz
requests
s3transfer
scikit-learn==0.21.1
scipy==1.4.1
six==1.14.0
urllib3
Werkzeug
wincertstore
